{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
<div class="container text-center mt-5">
    <h1 class="heading">CARNNECT</h1>
    <p class="">A Helping Hand in the Car Community</p>
    <p>Carnnect is a web application that brings together the stakeholders within the car community such as drivers,
        garages and spare parts providers.</p>
    <p>The process of commuting to garages without sufficient knowledge/advice and also prior preparation makes the
        process of trying to repair your car <br> quite inconvinient. This is where Carnnect comes into play!</p>
    <p>Carnnect also alows for posting of advice and experience to the people of the car community.</p>
    <p>Carnnect also gives car owners a chance to sell their cars by posting them on the application for others to see.</p>
</div>
<div class="container">
    <div class="row text-center m-auto p-5">
        <div class="col-lg-4 col-md-6 col-sm-6 ">

            <div class="conatiner">
                <img class="display-pic"
                    src="https://images.pexels.com/photos/2574120/pexels-photo-2574120.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
                    <p>Car Owners/Drivers</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="container">
                <img class="display-pic"
                    src="https://images.pexels.com/photos/2244746/pexels-photo-2244746.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">

                    <p>Mechanics/Garages</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
            <div class="container">
                <img class="display-pic"
                    src="https://images.pexels.com/photos/2027045/pexels-photo-2027045.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                    alt="">
                    <p>Spare Parts Providers</p>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}