{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
<div class="clearfix">
    <a class="" href="{% url 'calendar' pk=user.id%}"> <i class="far fa-2x mx-2 fa-calendar-alt"></i> </a>
  </div>
  

  <div class="event-body">
    <form action="{% url 'event_new'%}" method="post" enctype="multipart/form-data">

        {% csrf_token%}
        {% bootstrap_form form %}
        <div class="form-group text-center">
            <input type="submit" class="m-4 btn btn-primary login-btn" value="ADD EVENT">
        </div>
        <input type="hidden" name="next" value="{{next}}">
    </form>
</div>
{% endblock %}