{%extends 'base.html'%}
{% load bootstrap4 %}
{% block content %}
<div class="text-center mt-5 container">
    <h3>MAINTAINING YOUR CAR IS ESSENTIAL TO ENSURE ITS LONGEVITY. <br> THE FOLLOWING ARE SOME MAJOR MAINTENANCE TIPS TO AVOID MAJOR REPAIR COSTS:</h3>
</div>
<div class="container text-center p-3">
   
<p>Take your car for regular service. Manufacturers recommend taking your car for service before 5000 miles elapses.</p>
        
<p>Replace your brake pads and also check the brake fluids in your car.</p>
       
<p>Check your suspension system. Most of us rarely think about it—until it stops doing its job and makes a roller coaster <br> ride out of your ride. If you find that one of the shocks does need to be replaced, make sure to replace all four of them.</p>
        
<p>Check your coolant. If you don’t stay on top of changing your coolant, you run the risk of serious corrosion inside your car. <br> The coolant affects everything from the heater and air conditioner to the radiator and water pump.</p>
       
            <p>Checking on your belts and hoses. Giving your belts and hoses a once-over can save you from a huge mechanic bill <br> later on down the road. Worn-down belts can cause other damage to essential components of your car.</p>
       
</div>
{% endblock %}